<div class="container">
<div class="row">
<div class="col-md-7">
<!--Body content-->
<h3 class="page-header">
    <div msg key="registration.titleMessage"></div>
</h3>
<form name="addAccountForm" class="form-horizontal" novalidate>

<div class="form-group">
    <label class="col-md-3 control-label" for="inputFullName">
        <div msg key='registration.fullname'></div>
    </label>

    <div class="col-md-7 controls">
        <!--<input type="text" autocomplete="off" class="form-control" id="password"-->
        <!--ng-model="user.password"-->
        <!--ng-minlength="4" required>-->
        <input type="text" class="form-control immediate-help account-input focus" name="inputFullName"
               id="inputFullName" ng-model='account.fullName' ng-minlength="4" required>

        <div class="input-help">
            <h4>
                <div msg key='registration.fullname.error'></div>
            </h4>
        </div>
        <!--<span class="valid" ng-show="addAccountForm.inputFullName.$valid"><img alt="check OK"-->
                                                                                               <!--src="images/check.png"/></span><br>-->
    </div>
</div>


<div class="form-group">
    <label class="col-md-3 control-label" for="inputVenue">
        <div msg key='registration.venue'></div>
    </label>

    <div class="col-md-7 controls">
        <!--<input type="text" autocomplete="off" class="form-control" id="password"-->
        <!--ng-model="user.password"-->
        <!--ng-minlength="4" required>-->
        <input type="text" class="form-control immediate-help account-input focus" name="inputVenue"
               id="inputVenue" ng-model='account.venue' required>

        <div class="input-help">
            <h4>
                <div msg key='registration.venue.error'></div>
            </h4>
        </div>
        <!--<span class="valid" ng-show="addAccountForm.inputVenue.$valid"><img alt="check OK"-->
                                                                               <!--src="images/check.png"/></span><br>-->
    </div>
</div>


<div class="form-group">
    <label class="col-md-3 control-label" for="inputEmail">
        <div msg key='registration.email'></div>
    </label>

    <div class="col-md-7 controls">

        <input type="email" class="form-control immediate-help account-input account-input" name="inputEmail"
               id="inputEmail" ng-model='account.email' check-email required>

        <div class="input-help">
            <h4>
                <div msg key='registration.email.error'></div>
            </h4>
            <ul>
                <!--<li ng-class="emailUnique">-->
                <!--<div msg key='registration.email.error.notUnique'></div>-->
                <!--</li>-->
                <li ng-class="emailValid">
                    <div msg key='registration.email.error.valid'></div>
                </li>
            </ul>
        </div>
                        <!--<span class="valid" ng-show="addAccountForm.inputEmail.$valid"><img alt="check OK"-->
                                                                                            <!--src="images/check.png"/></span><br>-->
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label" for="inputPhoneNumber">
        <div msg key='registration.phone'></div>
    </label>

    <div class="col-md-7 controls">

        <input type="number" class="form-control immediate-help account-input" name="inputPhoneNumber"
               id="inputPhoneNumber" ng-model='account.phone' check-phone ng-maxlength="10" ng-minlength="10">


        <div class="input-help">

            <div class="input-help">
                <h4>
                    <div msg key='registration.phone.error'></div>
                </h4>
                <!--<ul>-->
                <!--<li ng-class="phoneValid">-->
                <!--<div msg key='registration.phone.error.valid'></div>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
                        <!--<span class="valid" ng-show="addAccountForm.inputPhoneNumber.$valid"><img alt="check OK"-->
                                                                                                  <!--src="images/check.png"/></span><br/>-->
        </div>
    </div>

</div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="inputUsername">
            <div msg key='registration.username'></div>
        </label>

        <div class="col-md-7 controls">

            <input type="text" class="form-control immediate-help account-input" name="inputUsername"
                   id="inputUsername" ng-model='account.username' ng-minlength="4" ng-maxlength="20"
                   ng-pattern="/^[A-z][A-z0-9]*$/" check-username required>

            <div class="input-help">
                <h4>
                    <div msg key='registration.username.error'></div>
                </h4>
                <ul>
                    <li ng-class="usernameUnique">
                        <div msg key='registration.username.error.usernameExist'></div>
                    </li>
                    <li ng-class="usernameValidLength">
                        <div msg key='registration.username.error.length'></div>
                    </li>
                </ul>
            </div>
            <!--<span class="valid" ng-show="addAccountForm.inputUsername.$valid"><img alt="check OK" src="images/check.png"/></span><br>-->
                        <!--<span class="valid" ng-show="addAccountForm.inputUsername.$valid"><img alt="check OK"-->
                                                                                               <!--src="images/check.png"/></span><br>-->
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-3 control-label" for="inputPassword">
            <div msg key='registration.password'></div>
        </label>

        <div class="col-md-7 controls">

            <input type="password" class="form-control immediate-help account-input" name="inputPassword"
                   id="inputPassword" ng-model='account.password' ng-minlength="7" ng-maxlength="20"
                   ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" password-validate required>


            <div class="input-help">
                <h4>
                    <div msg key='registration.password.error'></div>
                </h4>
                <ul>
                    <li ng-class="pwdHasUpperCaseLetter">
                        <div msg key='registration.password.error.upperCaseletter'></div>
                    </li>
                    <li ng-class="pwdHasLowerCaseLetter">
                        <div msg key='registration.password.error.lowerCaseletter'></div>
                    </li>
                    <li ng-class="pwdHasNumber">
                        <div msg key='registration.password.error.number'></div>
                    </li>
                    <li ng-class="pwdValidLength">
                        <div msg key='registration.password.error.length'></div>
                    </li>
                </ul>
            </div>

                        <!--<span class="valid" ng-show="addAccountForm.inputPassword.$valid"><img alt="check OK"-->
                                                                                               <!--src="images/check.png"/></span><br>-->
        </div>

    </div>


    <div class="form-group">
        <label class="col-md-3 control-label" for="inputPasswordConfirm">
            <div msg key='registration.passwordConfirm'></div>
        </label>

        <div class="col-md-7 controls">

            <input type="password" class="form-control immediate-help account-input"
                   name="inputPasswordConfirm" id="inputPasswordConfirm" ng-model='account.passwordConfirm'
                   check-password="inputPassword" required>

            <div class="input-help">
                <h4>
                    <div msg key='registration.passwordConfirm.error'></div>
                </h4>
            </div>
                        <!--<span class="valid" ng-show="addAccountForm.inputPasswordConfirm.$valid"><img alt="check OK"-->
                                                                                                      <!--src="images/check.png"/></span><br>-->

        </div>

    </div>


    <div class="form-group">


        <div class="form-group">
            <div class="col-md-offset-3 col-md-7">
                <button class="btn btn-primary" id="createAccountButton" ng-click='registerAccount()'
                        ng-disabled='registered'>
                    <div msg key="registration.createButton"></div>
                </button>
            </div>
        </div>

    </div>
</form>
</div>
</div>
</div>
