<div class="console" ng-show="serverUp">
<!--<div ng-controller="DashboardCtrl">-->
<!--<tabset>-->
<!--<tab heading="Calendar"  active="promoTabs[0]">-->
<div ng-controller="ConsoleCtrl" ng-init="init()">
<div class="row" ng-show="isAuthenticated()">
<div class="col-lg-6">
    <div class="console-content">

        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><h3 class="panel-title">Promotions Calendar</h3></div>
            <div class="panel-body">
                <div ng-show="!calendarLoading">
                    <div ng-show="error == null">
                        <div style="padding-left:10px; padding-right: 10px">
                            <h2 class="text-center">{{calendarTitle}}</h2>

                            <div class="row">

                                <div class="col-md-6 text-center">
                                    <div class="btn-group">

                                        <button
                                                class="btn btn-xs btn-primary"
                                                mwl-date-modifier
                                                date="calendarDay"
                                                decrement="calendarView">
                                            Previous
                                        </button>
                                        <button
                                                class="btn btn-xs btn-default"
                                                mwl-date-modifier
                                                date="calendarDay"
                                                set-to-today>
                                            Today
                                        </button>
                                        <button
                                                class="btn btn-xs btn-primary"
                                                mwl-date-modifier
                                                date="calendarDay"
                                                increment="calendarView">
                                            Next
                                        </button>
                                    </div>
                                </div>

                                <br class="visible-xs visible-sm">

                                <div class="col-md-6 text-center">
                                    <div class="btn-group">
                                        <!--<label class="btn btn-xs btn-primary" ng-model="calendarView"-->
                                               <!--btn-radio="'year'">Year</label>-->
                                        <label class="btn btn-xs btn-primary" ng-model="calendarView"
                                               btn-radio="'month'">Month</label>
                                        <label class="btn btn-xs btn-primary" ng-model="calendarView"
                                               btn-radio="'week'">Week</label>
                                        <label class="btn btn-xs btn-primary" ng-model="calendarView" btn-radio="'day'">Day</label>
                                    </div>
                                </div>

                            </div>

                            <br/>

                            <mwl-calendar
                                    events="calendarEvents"
                                    view="calendarView"
                                    view-title="calendarTitle"
                                    current-day="calendarDay"
                                    on-event-click="eventClicked(calendarEvent)"
                                    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                                    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                                    on-edit-event-click="eventEdited(calendarEvent)"
                                    on-delete-event-click="eventDeleted(calendarEvent)"
                                    auto-open="true"
                                    day-view-start="00:00"
                                    day-view-end="23:59"
                                    day-view-split="30"
                                    calendar-auto-open="false"
                                    >
                            </mwl-calendar>


                        </div>
                    </div>
                    <div ng-show="calendarError != null">
                        <div class="alert alert-danger" role="alert" ng-bind="calendarError"></div>
                    </div>
                </div>
                <div ng-show="calendarLoading" style="text-align:center">
                    <i class="fa fa-spinner fa-pulse fa-2x"></i>
                </div>
            </div>
        </div>

    </div>

    <div class="console-content">
        <div class="panel panel-primary">
            <div class="panel-heading"><span ng-show="calendarDay != null">Games Schedules  - {{ calendarDay |date :'MM/dd/yyyy'}}</span><span
                    ng-show="calendarDay == null">Games Schedules</span></div>
            <div class="panel-body">
                <div ng-show="!gamesLoading">
                    <div ng-show="gamesError === null">
                        <div style="padding-left:10px; padding-right: 10px"
                             ng-show="sports && sports != null && gamesBySports&& gamesBySports !=null">
                            <tabset>
                                <tab ng-repeat="sport in sports" heading="{{sport.sportName}}"
                                     ng-show="gamesBySports[sport.sportId] != null && gamesBySports[sport.sportId].length > 0">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Game</th>
                                            <th>Time</th>
                                            <th>Channel</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="game in gamesBySports[sport.sportId]">
                                            <td>{{game.homeTeam.shortName}} vs {{game.awayTeam.shortName}}
                                            </td>
                                            <td>{{game.game.startTime | date : 'MM/dd/yyyy HH:mm:ss'}}</td>
                                            <td>{{game.game.network}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </tab>

                            </tabset>
                        </div>
                    </div>
                    <div ng-show="gamesError !== null">
                        <div class="alert alert-danger" role="alert" ng-bind="gamesError"></div>
                    </div>
                </div>
                <div ng-show="gamesLoading" style="text-align:center">
                    <i class="fa fa-spinner fa-pulse fa-2x"></i>
                </div>
            </div>
        </div>


    </div>

</div>

<div class="col-lg-6">
    <div class="console-content" ng-include="'views/console/promo.html'"></div>

    <div class="console-content">
        <div class="panel panel-primary">
            <div class="panel-heading">Game Assignments</div>
            <div class="panel-body">

                <form name="addAccountForm" class="form-horizontal" novalidate>

                    <div ng-show="controllers != null && controllers.length > 0">
                        <table st-table="tmpControllers" st-safe-src="controllers"
                               class="table table-striped table-bordered">
                            <thead>
                            <!--<tr>-->
                            <!--<th colspan="3"><input st-search="" placeholder="" class="form-control"-->
                            <!--type="text"/></th>-->
                            <!--</tr>-->
                            <tr class="tbl-header">
                                <th>Controller</th>
                                <th>Sport Filter</th>
                                <th>Game Selection</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in tmpControllers">
                                <td ng-bind="row.netvControllerName"></td>
                                <td>
                                    <!--<label ng-repeat="sport in sports">-->
                                    <!--<input type="radio" value="{{sport}}" ng-change="loadSelectedSportGames(row)"  ng-model="row.sport">-->
                                    <!--{{sport}} &nbsp;-->
                                    <!--</label>-->
                                    <select name="sport" class="form-control"
                                            ng-model="row.sportId"
                                            ng-options="sport.sportId as sport.sportName for sport in sports">
                                    </select>


                                </td>
                                <td>
                                    <!--<span style="text-align:center">-->
                                    <!--<i class="fa fa-spinner fa-pulse fa-2x"  ng-show="loadingSportGames && controllerId === row.id"></i>-->
                                    <!--</span>-->
                                    <select name="game" class="form-control"
                                            ng-model="row.gameId"
                                            ng-change="recordGameAssignment(row)"
                                            ng-options="g.game.gameId as gameLabel(g) for g in gamesBySports[row.sportId]">
                                    </select>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                        <div class="pull-right">
                            <button class="btn btn-primary" ng-disabled="controllerAssignmentLoading"
                                    ng-click="saveControllerAssignments()"><span><i
                                    class="fa fa-check fa-fw">&nbsp; </i>Save</span>
                            </button>

                        </div>

                        <br />
                        <br />
                        <br />
                        <div style="text-align:center">
                            <!--<button class="btn btn-warning" ng-disabled="controllerAssignmentLoading" ng-click="resetControllerAssignments()"><span><i-->
                            <!--class="fa fa-times fa-fw">&nbsp; </i>Reset</span>-->
                            <!--</button>-->
                                <span ng-show="savingControllerAssignments"
                                      style="text-align:center">
                                    <i class="fa fa-spinner fa-pulse fa-2x"></i>
                                </span>

                                <div ng-show="controllerAssignmentError != null">
                                    <div class="alert alert-danger" role="alert"
                                          ng-bind="controllerAssignmentError"></div>
                                </div>

                                    <div ng-show="controllerAssignmentInfo != null">
                                        <i class='green glyphicon glyphicon-ok'></i>
                                        {{controllerAssignmentInfo}}
                                    </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>

</div>
<div class="row" ng-show="!isAuthenticated()">
    <div>
        <!--<p>Please <a href="" ng-click="loginReq()"><i class="fa fa-sign-in"></i>&nbsp;login</a> to access this page.-->
        <!--You can also <a href="#/registration"><i class="fa fa-chevron-circle-right"></i>&nbsp;register</a></p>-->
        <div ng-include="'views/account/login.html'"/>
    </div>
</div>

</div>
</div>


<script type="text/ng-template" id="ConfirmDeletePromoCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Confirmation
        </h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the promotion ? This operation is irreversible</p>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-disabled="loading" ng-click="cancel()"><span><i class="fa fa-times fa-fw">
            &nbsp; </i>Cancel</span>
        </button>
        <button class="btn btn-danger" ng-disabled="loading" ng-click="delete()"><span><i class="fa fa-trash-o fa-fw">
            &nbsp; </i>Delete</span>
        </button>
        <div ng-show="loading" style="text-align:center;padding-top:20px; padding-bottom:20px">
            <i class="fa fa-spinner fa-pulse fa-2x"></i>
        </div>
        <div ng-show="error !== null">
            <div class="alert alert-danger" role="alert" ng-bind="error"></div>
        </div>
    </div>
</script>